[Desktop Entry]
Name=Main Menu
Name[af]=Hoofmenu
Name[cs]=Hlavní menu
Name[da]=Hovedmenu
Name[de]=Hauptmenü
Name[es]=Menú Principal
Name[fi]=Päävalikko
Name[fr]=Menu Principal
Name[hi]=मुख्य मेनू
Name[hu]=Főmenü
Name[is]=Aðalvalmynd
Name[it]=Menù Principale
Name[nl]=Hoofdmenu
Name[no]=Hovedmeny
Name[pl]=Menu Główne
Name[pt]=Menu Principal
Name[ru]=Главное меню
Name[sv]=Huvudmeny
Name[tr]=Ana Menü
Name[uk]=Головне меню
Name[hr]=Glavni izbornik
Name[vi]=Menu Chính
Name[az]=Əsas Menyu
Name[lv]=Galvenais izvēlne
Name[uz]=Asosiy Menyu
Name[sk]=Hlavné menu
Name[id]=Menu Utama
Name[ms]=Menu Utama
Name[et]=Põhimenüü
Name[el]=Κύριο Μενού
Name[th]=เมนูหลัก
Name[lt]=Pagrindinis meniu
Name[ro]=Meniu Principal
Name[ar]=القائمة الرئيسية
Name[sq]=Menu kryesor
Name[kk]=Басты Меню
Name[fa]=منو اصلی
Name[bg]=Главно меню
Name[mk]=Главно Мени
Name[sw]=Menyu Kuu
Name[sl]=Glavno meni
Name[be]=Галоўнае меню
Name[zh_Hans]=主菜单
Name[kab]=Umuɣ agejdan
Comment=Customize the menu
Comment[af]=Pas die menu aan
Comment[cs]=Přizpůsobit menu
Comment[da]=Tilpas menuen
Comment[de]=Das Menü bearbeiten
Comment[es]=Modificar el menú
Comment[fi]=Mukauta valikkoa
Comment[fr]=Modifier le menu
Comment[hi]=मेनू कस्टमाइज़ करें
Comment[hu]=Menü testreszabása
Comment[is]=Sérsníða valmyndina
Comment[it]=Modifica il menù
Comment[nl]=Menu aanpassen
Comment[no]=Tilpass menyen
Comment[pl]=Edycja menu
Comment[pt]=Personalize o menu
Comment[ru]=Настройка меню
Comment[sv]=Anpassa menyn
Comment[tr]=Menüyü Özelleştir
Comment[uk]=Налаштування меню
Comment[hr]=Prilagodi izbornik
Comment[vi]=Tùy chỉnh menu ứng dụng
Comment[az]=Menyunu özəlləşdir
Comment[lv]=Pielāgot izvēlni
Comment[uz]=Menyuni moslashtiring
Comment[sk]=Prispôsobte si menu
Comment[id]=Kustomisasi Menu
Comment[ms]=Kustomisasi Menu
Comment[et]=Kohanda menüüd
Comment[el]=Προσαρμόστε το μενού
Comment[th]=ปรับแต่งเมนู
Comment[lt]=Tinkinkite meniu
Comment[ro]=Personalizează meniul
Comment[ar]=تخصيص قائمة التطبيق
Comment[sq]=Personalizoj menunë
Comment[kk]=Мәзірді теңшеңіз
Comment[fa]=سفارشی کردن منو
Comment[bg]=Персонализиране на менюто
Comment[mk]=Прилагодување на менијата
Comment[sw]=Badilisha menyu
Comment[sl]=Prilagodi meni
Comment[be]=Наладка меню
Comment[zh_Hans]=自定义菜单
Comment[kab]=Sagen umuɣ
Keywords=libre-menu-editor;app;desktop;editor;entry;launch;menu;shortcut;start
Type=Application
Icon=page.codeberg.libre_menu_editor.LibreMenuEditor
Exec=libre-menu-editor %F
MimeType=application/x-desktop
Categories=GNOME;GTK;Utility
StartupNotify=true
StartupWMClass=page.codeberg.libre_menu_editor.LibreMenuEditor
X-GNOME-SingleWindow=true
X-Purism-FormFactor=Workstation;Mobile;
X-Flatpak=page.codeberg.libre_menu_editor.LibreMenuEditor
Actions=new-launcher

[Desktop Action new-launcher]
Name=New Launcher
Name[af]=Nuwe lanseerder
Name[cs]=Nový launcher
Name[da]=Ny starter
Name[de]=Neuer Starter
Name[es]=Nuevo Lanzador
Name[fi]=Uusi launcher
Name[fr]=Nouveau Lanceur
Name[hi]=नया लॉन्चर
Name[hu]=Új indító
Name[is]=Nýr Launcher
Name[it]=Nuovo Lanciatore
Name[nl]=Nieuwe launcher
Name[no]=Ny starter
Name[pl]=Nowy Launcher
Name[pt]=Novo lançador
Name[ru]=Новая установка
Name[sv]=Ny startare
Name[tr]=Yeni Başlatıcı
Name[uk]=Новий стартер
Name[hr]=Novi lanser
Name[vi]=Launcher mới
Name[az]=Yeni başlatıcı
Name[lv]=Jauns palaišanas saite
Name[uz]=Yangi starter
Name[sk]=Nový spúšťač
Name[id]=Peluncur Baru
Name[ms]=Pelancar Baru
Name[et]=Uus starter
Name[el]=Νέος εκκινητής
Name[th]=ตัวเรียกใช้งานใหม่
Name[lt]=Naujas paleidėjas
Name[ro]=Noul lansator
Name[ar]=قاذف جديد
Name[sq]=Lançues i ri
Name[kk]=Жаңа лаунчер
Name[fa]=لانچر جدید
Name[bg]=Нов стартър
Name[mk]=Нов лансирач
Name[sw]=Launcher mpya
Name[sl]=Nov zaganjalnik
Name[be]=Новы лаўнчер
Name[zh_Hans]=新建启动器
Name[kab]=Amaynu imsekker
Exec=libre-menu-editor --new
